/* 该文件被 './index.js' 加载，用于为当前 APP 添加全局样式*/
/**/
@import "./vars";

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}
.has-slide-enter {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.has-slide-enter-active {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.sign-modal.has-slide-in-bottom-enter-active,
.sign-modal.has-slide-in-bottom-leave-active {
  -webkit-transition: -webkit-transform 0;
  transition: -webkit-transform 0;
  transition: transform 0;
  transition: transform 0, -webkit-transform 0;
}

.submit-btn {
  padding: 0 0.75rem;

  .mn-btn.is-primary {
    background-color: #49ab34;
    border-radius: 6px;

    &:active,
    &:hover {
      background: darken(#49ab34, 10%);
    }

    &.is-disabled {
      background: #d8d8d8;
      color: #999;
    }
  }
}

.sign-modal.mn-modal {
  bottom: inherit;
  top: 50%;
  left: 2.5rem;
  right: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.loading-text {
  text-align: center;
  color: #666;
}

@media screen and (min-width: 320px) and (min-height: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (min-height: 550px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 340px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 42px;
  }
}
